.buildProject__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;
    max-height: max-content;
    justify-content: flex-start;
    align-items: center;
    background-color: #1f232e;
    position: relative;
}

.buildProject__wrapper header {
    font-size: 20pt;
    -webkit-text-stroke: 1pt white;
    color: white;
    margin: 45px;
}

.buildProject__wrapper header span {
    letter-spacing: 1.2pt;
}

.buildProject__wrapper header span:nth-child(1) {
    color: aqua;
    margin-right: 10px;
    -webkit-text-stroke: 1pt aqua;
}

.buildProject__wrapper div#buildProject__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.buildProject__wrapper #buildProject__box div {
    display: flex;
    margin-bottom: 5px;
}

.buildProject__wrapper #buildProject__box div input {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding-left: 10px;
    font-size: 10pt;
    color: white;
    -webkit-text-stroke: .6pt white;
    background-color: #313743;
    margin-bottom: 6px;
    letter-spacing: 1.2pt;
}
.buildProject__wrapper #buildProject__box div:nth-child(3){
    flex-direction: column;
}
.buildProject__wrapper #buildProject__box div:nth-child(3) input{
    width: 620px;
}
.buildProject__wrapper #buildProject__box div:nth-child(2) input::-webkit-inner-spin-button,
.buildProject__wrapper #buildProject__box div:nth-child(2) input::-webkit-outer-spin-button{
    margin: 0;
    -webkit-appearance: none;
}
.buildProject__wrapper #buildProject__box div:nth-child(3) textarea {
    width: 620px;
    height: 150px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding-left: 10px;
    padding-top: 5px;
    background-color: #313743;
    color: white;
    letter-spacing: 1.2pt;
}

.buildProject__wrapper #buildProject__box button {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #00ffff91;
    box-shadow: 0 0 15px aqua;
    color: black;
    font-size: 12pt;
    -webkit-text-stroke: .4pt black;
    margin: 5% 1% 0 2%;
    cursor: pointer;
    transition: .5s all ease;
}

.buildProject__wrapper #buildProject__box button:hover {
    transform: scale(.96);
    box-shadow: 0 0 15px 5px aqua;
}

/*================================================================WAVY PATTERN DESIGN=======================================================*/
.buildProject__wrapper #buildProject__box div {
    position: relative;
}

.buildProject__wrapper #buildProject__box div label {
    color: aqua;
    position: absolute;
    font-size: 9pt;
    -webkit-text-stroke: .3pt aqua;
    letter-spacing: 1.2pt;
    bottom: 60%;
}

.buildProject__wrapper #buildProject__box div label:nth-child(2) {
    left: 2.5%;
}

.buildProject__wrapper #buildProject__box div label:nth-child(4) {
    left: 54%;
}

.buildProject__wrapper #buildProject__box div label span {
    position: absolute;
    color: aqua;
    font-size: 10pt;
    transition: .4s all ease;
}

.buildProject__wrapper #buildProject__box div label span.wavySpan,
.buildProject__wrapper #buildProject__box div input:focus+label span,
.buildProject__wrapper #buildProject__box div input:valid+label span {
    transform: translateY(-200%);
}

/*================================================================END OF WAVY PATTERN DESIGN================================================*/

@media (max-width:670px){
    .buildProject__wrapper #buildProject__box {
        width: 90%;
    }
    .buildProject__wrapper #buildProject__box div{
        width: 100%;
    }
    .buildProject__wrapper #buildProject__box div input {
        width: 46%;
        height: 50px;
    }
    .buildProject__wrapper #buildProject__box div:nth-child(3) textarea,
    .buildProject__wrapper #buildProject__box div:nth-child(3) input {
        width: 95%;
    }
}
@media (max-width:475px){
    .buildProject__wrapper #buildProject__box div:not(:nth-child(3)){
        flex-direction: column;
    }
    .buildProject__wrapper #buildProject__box div:not(:nth-child(3)) input{
        width: 95%;
        margin-bottom: 10px;
    }
    .buildProject__wrapper #buildProject__box div:not(:nth-child(3)) label:nth-child(2) {
        left: 2.5%;
        bottom: 80%;
    }
    
    .buildProject__wrapper #buildProject__box div:not(:nth-child(3)) label:nth-child(4) {
        left: 2.5%;
        bottom: 30%;
    }
}
@media (max-width:393px){
    .buildProject__wrapper #buildProject__box{
        width: 85%;
    }
    .buildProject__wrapper #buildProject__box div{
        width: 115%;
    }
}